body {
	font-family: "Ubuntu", sans-serif;
	background-color: darkgray;
	background-image: url(https://images.pexels.com/photos/5766117/pexels-photo-5766117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-blend-mode: 1;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#dp-01 {
	width: 200px;
	border-radius: 100px;
	margin: 20px;
}



#tools-sec img {
	width: 100px;
}

.card {
	background-color: rgba(255,255,255,0.6);
}

#getInTouch {
	background-color: rgba(255, 255, 255, 0.2);
}

#contact-page {
  overflow:  hidden;
}

#gmap_canvas {
	height: 40vh;
	width: 100%;
}

.fab {
	font-size: 1.5rem;
	color: white;
}


#project-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 15px;
	color: white;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 15px;
  color: white;
}